.App-container {
  background-color: #f5cac3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: black;
  padding-top: 20px;
}

.Button-container {
  flex-direction: row;
  display: inline-flex;
  padding: 10px;
}
